<p>
  Next upgrade
  <span ng-if="upgrade.unit.totalProduction().money.greaterThan(0)"
        ng-init="
        effect=upgrade.effect[0];
        car=effect.unit;
        "
    >
    increases the car bonus to x{{car.stat('prod').plus(effect.val) | longnum}} and
  </span>
  <span>increases the bucks per race with

    <span ng-init="
      effect=upgrade.effect[2];
      driving=effect.unit;
    ">
      <span ng-repeat="(name, val) in driving.totalProduction()">
        <span ng-if="!$first && !$last">, </span><span ng-if="!$first && $last"> and </span>
        <span class="hidden">
          <span>val = {{val}}</span>
          <span>effect.stat = {{effect.stat}}</span>
          <span>driving.stat = {{driving.stat(effect.stat)}}</span>
          <span>effect.val = {{effect.val}}</span>
        </span>
        <span>{{driving.stat(effect.stat).plus(effect.val).times(val).dividedBy(driving.stat(effect.stat)).minus(val)|longnum}}
          <ng-pluralize count="driving.stat(effect.stat).plus(effect.val).times(val).dividedBy(driving.stat(effect.stat)).minus(val)"
                        when="{'one':game.unit(name).unittype.label, 'other':game.unit(name).unittype.plural}"></ng-pluralize></span></span>.
    </span>
  </span>
</p>
