<div class="well well-sm">
  <div class="container-float container-car">
    <div class="row">
      <div class="col-xs-4">
        <p class="unit-title-container">
          <span class="titlecase unit-title">{{unit.type.label}}</span>
          <span ng-if="!unit.upgrades.byName[unit.name+'_upgrade'].count().isZero()" class="unit-level">{{unit.upgrades.byName[unit.name+'_upgrade'].count()+""|number}}</span>
        </p>
        <span ng-repeat="(name, val) in unit.totalProduction()">
          <resource name="{{name}}" velocity="val" units="velocityUnit"></resource>
        </span>
      </div>
      <div class="col-xs-8">
        <upgrade unit="unit"></upgrade>
      </div>
    </div>
  </div>
</div>
