<div class="container-float container-car">
  <div class="row">
    <div class="col-xs-4">
      <p class="unit-title-container">
        <span class="titlecase unit-title">{{unit.type.label}}</span>
        <span ng-if="!unit.upgrades.byName[unit.name+'_upgrade'].count().isZero()" class="unit-level">{{unit.upgrades.byName[unit.name+'_upgrade'].count()+""|number}}</span>
      </p>
      <span ng-repeat="(name, val) in unit.totalProduction()">
        <resource name="{{name}}" value="val.times(velocityUnit.mult)"></resource>
      </span>
    </div>
    <div class="col-xs-8">
      <button ng-repeat="upgrade in unit.upgrades.byClass.upgrade | filter:filterVisible" class="btn pull-right"
        ng-class="{'btn-primary': upgrade.isCostMet(), 'btn-default': !upgrade.isCostMet()}"
        ng-click="buy({upgrade: upgrade})">
        <p>{{upgrade.type.label}}</p>
        <p>
          <span ng-repeat="cost in upgrade.totalCost() track by cost.unit.name">
            <span class="-resource -resource-{{cost.unit.name}}" ng-class="{costNotMet:cost.unit.count().lessThan(cost.val)}">
              <i class="icon-resource icon-{{cost.unit.name}}"></i>
              {{cost.val | bignum}}
              <span class="label-resource label-{{cost.unit.name}}">
                <span class="label-label">{{cost.val.equalTo(1)?cost.unit.unittype.label:cost.unit.unittype.plural}}</span>
                <span class="label-suffix">{{cost.unit.suffix}}</span>
              </span>
            </span>
          </span>
        </p>
      </button>
    </div>
  </div>
</div>
