<div ng-show="race.isVisible()" class="clicker">
  <h1>Race to win prize!</h1>

  <p>
    Participate in a race and win
    <span ng-repeat="(name, val) in driving.totalProduction()">
      <span ng-if="!$first && !$last">, </span><span ng-if="!$first && $last"> and </span>
      <span>{{val|longnum:2}} <ng-pluralize count="val" when="::{'one':game.unit(name).unittype.label, 'other':game.unit(name).unittype.plural}"></ng-pluralize></span>
    </span>
    per race.
  </p>
  <p>
    <button ng-if="!race.isCostMet()" type="button" class="btn btn-primary btn-lg disabled">
      Can't race
    </button>
    <button ng-if="race.isCostMet()" type="button" class='btn btn-primary btn-lg' ng-click='doClick($event)' action-effect>
      <i class="fa fa-flag-checkered fliph"></i>
      RACE
      <i class="fa fa-flag-checkered"></i>
    </button>
  </p>
  <div ng-repeat="upgrade in driving.upgrades.byClass.upgrade | filter:filterVisible">
    <upgrade upgrade="::upgrade"></upgrade>
  </div>
</div>
