<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default panel-units panel-cars">
      <div class="panel-heading">
        <span ng-if="game.tabs.byName.money.isNewlyUpgradable()" title="New upgrade available"
              class="animif glyphicon glyphicon-circle-arrow-up pull-right"></span>
        <span>{{(game.tabs.byName.money.units | filter:filterVisible | filter:filterBought | count)-1}}</span>
        <span class="titlecase">Cars</span>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="unit in game.tabs.byName.money.sortUnits() | filter:filterVisible track by unit.name"
              ng-if="!$last"
              class="clearfix">
            <car unit="unit"></car>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <clicker></clicker>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-units panel-technology">
      <div class="panel-heading">
        <span>{{(game.tabs.byName.technology.units | filter:filterVisible | filter:filterBought | count)-1}}</span>
        <span class="titlecase">Technology</span>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="unit in game.tabs.byName.technology.sortUnits() | filter:filterVisible track by unit.name"
              ng-if="!$last"
              class="clearfix">
            <technology unit="unit"></technology>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-if="game.tabs.byName.fame.isVisible() || game.tabs.byName.teams.isVisible()" class="col-md-6">
    <div class="panel panel-default panel-units panel-other" ng-init="tab = game.tabs.byName.fame">
      <div class="panel-heading">
        <div class="btn-group btn-group-justified" role="tablist">
          <a ng-show="game.tabs.byName.fame.isVisible()" href role="tab" class="btn btn-default"
             ng-class="{active: tab == game.tabs.byName.fame}" ng-click="tab = game.tabs.byName.fame">Sponsors</a>
          <a ng-show="game.tabs.byName.teams.isVisible()" href role="tab" class="btn btn-default"
             ng-class="{active: tab == game.tabs.byName.teams}" ng-click="tab = game.tabs.byName.teams">Teams</a>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="unit in tab.sortUnits() | filter:filterVisible track by unit.name" ng-if="!$last">
            <technology unit="unit"></technology>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
