<div ng-controller="MainCtrl">
  <div id="firstrow" class="row">
    <div id="cars" class="col-md-4">
      <div class="panel panel-default panel-units panel-cars">
        <div class="panel-heading">
          <i class="icon-resource icon-car"></i>
        <span class="pull-right">
          {{(game.tabs.byName.money.units | filter:filterVisible | filter:filterBought | count)-1}}
          cars
        </span>
        </div>
        <div class="panel-body scrollable">
          <ul class="list-unstyled">
            <li ng-repeat="unit in game.tabs.byName.money.sortUnits() | filter:filterVisible track by unit.name"
                ng-if="!$last">
              <unit unit="::unit"></unit>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="clicker"
         ng-class="{'col-md-5': game.tabs.byName.upgrades.isVisible(), 'col-md-8': !game.tabs.byName.upgrades.isVisible()}">
      <clicker></clicker>
    </div>

    <div id="upgrades" ng-if="game.tabs.byName.upgrades.isVisible()" class="col-md-3">
      <div class="panel panel-default panel-units panel-upgrades">
        <div class="panel-heading" ng-class="{upgradable: game.tabs.byName.upgrades.isNewlyUpgradable()}">
          <i class="icon-resource icon-upgrades"></i>
        <span class="pull-right">
          upgrades
        </span>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="unit in game.tabs.byName.upgrades.sortUnits() | filter:filterVisible track by unit.name"
                ng-if="!$last">
              <unit unit="::unit"></unit>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="secondrow" class="row">
    <div id="technologies" class="col-md-7">
      <div class="panel panel-default panel-units panel-technology">
        <div class="panel-heading" ng-class="{upgradable: game.tabs.byName.technology.isNewlyUpgradable()}">
          <i class="icon-resource icon-technology"></i>
        <span class="pull-right">
          {{(game.tabs.byName.technology.units | filter:filterVisible | filter:filterBought | count)-1}}
          technologies
        </span>
        </div>
        <div class="panel-body scrollable">
          <ul class="list-unstyled">
            <li ng-repeat="unit in game.tabs.byName.technology.sortUnits() | filter:filterVisible track by unit.name"
                ng-if="!$last">
              <unit unit="::unit"></unit>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="sponsors" ng-if="game.tabs.byName.fame.isVisible()" class="col-md-5">
      <div class="panel panel-default panel-units panel-sponsors" ng-init="tab = game.tabs.byName.fame">
        <div class="panel-heading">
          <i class="icon-resource icon-sponsor"></i>
        <span class="pull-right">
          {{Math.max(0, (game.tabs.byName.fame.units | filter:filterVisible | filter:filterBought | count)-1)}}
          sponsors
          </span>
        </div>
        <div class="panel-body scrollable">
          <ul class="list-unstyled">
            <li ng-repeat="unit in game.tabs.byName.fame.sortUnits() | filter:filterVisible track by unit.name"
                ng-if="!$last">
              <unit unit="::unit"></unit>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
