<div class="well well-sm">
  <div class="container-float container-technology">
    <div class="row">
      <div ng-class="{'col-xs-6': unit.count().isZero(), 'col-xs-3': !unit.count().isZero()}">
        <div class="unit-title-container">
          <div class="titlecase unit-title">{{unit.type.label}}</div>
          <div ng-if="!unit.count().isZero()" class="unit-level"><span>{{unit.count()|bignum}}</span></div>
        </div>
        <div>
          <span ng-repeat="(name, val) in unit.totalProduction()">
            <resource name="{{name}}" velocity="val" units="velocityUnit" label="{{game.unit(name).type.label}}"
                      plural="{{game.unit(name).type.plural}}"></resource>
          </span>
        </div>
      </div>
      <div ng-if="!unit.count().isZero()" class="col-xs-3">
        <upgrade unit="unit"></upgrade>
        <!--
        <button ng-repeat="upgrade in unit.upgrades.byClass.upgrade | filter:filterVisible" class="btn pull-right"
                ng-class="{'btn-primary': upgrade.isCostMet(), 'btn-default': !upgrade.isCostMet()}"
                ng-click="buy({upgrade: upgrade})">
          LVL UP<br>
        <span ng-repeat="cost in upgrade.totalCost() track by cost.unit.name">
          <unit-resource value="cost.val" unit="cost.unit"></unit-resource>
        </span>
        </button>
        -->
      </div>
      <div class="col-xs-6">
        <buyunit unit="unit"></buyunit>
      </div>
    </div>
  </div>
</div>
