<div class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button-->
      <a class="navbar-brand page-title hidden-md hidden-lg" href="#"><span>RCM</span></a>
      <a class="navbar-brand page-title hidden-xs hidden-sm" href="#"><span>Racing Clicker Manager</span></a>
      <a ng-cloak ng-if="::env.isDebugEnabled" class="envalert navbar-brand hidden-xs" ng-href="#/debug"> ({{::env.name}})</a>
      <a class="navbar-brand"><span class="text-muted small hidden-xs" ng-cloak>v{{::version}}</span></a>
    </div>
    <div class="navbar-right"><login /></div>

    <!--div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div-->

    <div class="navbar-right" ng-cloak>
      <a class="navbar-brand" href>
        <unit-resource unit="::game.unit('money')"></unit-resource>
      </a>
    </div>
    <div class="navbar-right" ng-cloak>
      <a class="navbar-brand" href>
        <unit-resource unit="::game.unit('technology')"></unit-resource>
      </a>
    </div>

    <div ng-if="game.unit('fame').isVisible()" class="navbar-right" ng-cloak>
      <a class="navbar-brand" href>
        <unit-resource unit="::game.unit('fame')"></unit-resource>
      </a>
    </div>

    <div ng-if="game.achievementPercent()" class="navbar-right" ng-cloak>
      <a class="navbar-brand" href ng-click="showAchievements($event)">
        <resource name="achievements" value="game.achievementPercent()" filter="percent" filter-opts="2"></resource>
      </a>
    </div>

  </div>
</div>
