<div class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button-->
      <a class="navbar-brand page-title" href><span>RCM</span></a>
      <a ng-cloak ng-if="::env.isDebugEnabled" class="envalert navbar-brand hidden-xs" ng-href="#/debug"> ({{::env.name}})</a>
      <a class="navbar-brand"><span class="text-muted small hidden-xs" ng-cloak>v{{::version}}</span></a>
    </div>
    <div class="navbar-right"><login /></div>

    <!--div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div-->

    <ul class="nav nav-pills navbar-right" ng-cloak>
      <li ng-if="game.achievementPercent()">
        <a href class="nav-achievements" open-dialog="achievements">
          <resource name="achievements" value="game.achievementPercent()" filter="percent" filter-opts="2"></resource>
        </a>
      </li>
      <li ng-if="game.unit('fame').isVisible()"
          tooltip-template="'views/desc/unit/fame.html'"
          tooltip-trigger="click"
          tooltip-placement="bottom"
          tooltip-class="tooltip-chart">
        <a href class="nav-fame">
          <unit-resource unit="::game.unit('fame')"></unit-resource>
        </a>
      </li>
      <li>
        <a href class="nav-technology"
           tooltip-template="'views/desc/unit/technology.html'"
           tooltip-trigger="click"
           tooltip-placement="bottom"
           tooltip-class="tooltip-chart">
          <unit-resource unit="::game.unit('technology')"></unit-resource>
        </a>
      </li>
      <li>
        <a href class="nav-money"
           tooltip-template="'views/desc/unit/money.html'"
           tooltip-trigger="click"
           tooltip-placement="bottom"
           tooltip-class="tooltip-chart">
          <unit-resource unit="::game.unit('money')"></unit-resource>
        </a>
      </li>
      <li class="dropdown">
        <a role="button" class="dropdown-toggle" data-toggle="dropdown" href aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href open-dialog="options">
            <span class="glyphicon glyphicon-cog"></span> Options
          </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href open-dialog="achievements">
            <span class="glyphicon glyphicon-ok"></span> Achievements
          </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href open-dialog="statistics">
            <span class="glyphicon glyphicon-stats"></span> Statistics
          </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href open-dialog="changelog">
            <span class="glyphicon glyphicon-book"></span> Changelog
          </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href open-dialog="feedback">
            <span class="fa fa-comment"></span> Send Feedback
          </a></li>
          <!--li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:" ng-click="hotkeys.toggleCheatSheet()" target="_blank">
            <span class="glyphicon glyphicon-share-alt"></span> Keyboard Shortcuts
          </a></li-->
        </ul>
      </li>
    </ul>

  </div>
</div>
