<div class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button-->
      <a class="navbar-brand page-title" href="#"><span>Racing Simulator<span></a>
      <a ng-cloak ng-if="env.isDebugEnabled" class="envalert navbar-brand" ng-href="#/debug"> ({{env.name}})</a>
      <a class="navbar-brand" ng-href="#/changelog"><span class="text-muted small" ng-cloak>v{{version}}</span></a>
    </div>
    <div class="navbar-right"><login /></div>

    <!--div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div-->

    <div class="navbar-right" ng-cloak>
      <a class="navbar-brand" href>
        <unit-resource unit="game.unit('money')"></unit-resource>
      </a>
    </div>
    <div class="navbar-right" ng-cloak>
      <a class="navbar-brand" href>
        <unit-resource unit="game.unit('technology')"></unit-resource>
      </a>
    </div>

    <div class="navbar-right" ng-cloak>
      <a class="navbar-brand" href>
        <unit-resource unit="game.unit('fame')"></unit-resource>
      </a>
    </div>

    <div class="navbar-right" ng-cloak>
      <a class="navbar-brand" href="#/achievements">
        <resource name="achievements" value="game.achievementPercent()" filter="percent" filter-opts="2"></resource>
      </a>
    </div>

  </div>
</div>
