<div class="modal-header welcomeback-header">
  <button type="button" class="close" ng-click="closeWelcomeBack()"><h2><span aria-hidden="true">&times;</span></h2><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Welcome back!</h3>
</div>
<div class="modal-body">
  <div>
    <div id="welcomeback" class="alert alert-info alert-dismissible animif" role="alert">
      <p title="Please don't go. The teams need you. They look up to you.">While you were away for {{::durationSinceClosed.humanize()}}, your organization produced:</p>
      <ul>
        <li ng-repeat="gain in ::offlineGains">
          {{::gain.val | longnum}} {{::gain.unit.unittype.plural}}
        </li>
      </ul>
    </div>
  </div>
</div>
